#cloud-config
package_update: true

packages:
  - docker.io
  - docker-compose
  - curl 

runcmd:
  - systemctl enable docker
  - systemctl start docker
  - usermod -aG docker ubuntu
  - cd /home/ubuntu
  - curl -o docker-compose.yml https://raw.githubusercontent.com/FelixB5500/ctf/refs/heads/main/docker-compose.yml
  - docker compose up -d
